@import url(./reset.css);
/* 웹폰트 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif, "Prompt", sans-serif;
  color: #333;
  overflow-x: hidden;
}
.wrap {
  width: 100%;
  height: auto;
}
.content {
  width: 1600px;
  height: auto;
  margin: 0 160px;
}
header {
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  box-sizing: border-box;
  background-color: #fff;
}
.con {
  width: 1600px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
/* 로고 */
h1 {
  width: 122.15px;
  height: 24px;
}
/* 메뉴 */
#gnb2 {
  display: none;
}
#gnb {
  width: 442px;
  height: 80px;
}
#gnb > ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
#gnb > ul > li {
  font-family: "Prompt", sans-serif;
  position: relative;
  font-size: 20px;
}
#gnb > ul > li > a {
  color: #333;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
#gnb > ul > li > a:before {
  position: absolute;
  top: 100%;
  left: 50%;
  color: transparent;
  content: "•";
  text-shadow: 0 0 transparent;
  font-size: 13pt;
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  -moz-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}
/* 서브메뉴 */
.submenu {
  width: 100%;
  height: 0px;
  line-height: auto;
  position: absolute;
  top: 100px;
  z-index: 500;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.submenu > li {
  width: 111px;
  height: fit-content;
  text-align: center;
}
.submenu > li:last-child {
  margin-top: 50px;
}
.submenu > li > a {
  color: #333;
}
#gnb:hover .submenu {
  height: 152px;
}
/* submenu뒤에 있는 전체 배경 */
#gnb::after {
  content: "";
  display: block;
  width: 100vw;
  height: 1px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 80px;
  left: 0;
  transition: height 0.5s ease-in-out, background-color 0.3s;
}
/* 버튼 */
.icons {
  width: fit-content;
  height: 25px;
  display: flex;
  gap: 30px;
}
.icons > button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.xi-search,
.xi-user-o {
  color: #333;
  font-size: 25px;
}
.icons .hamburger {
  display: none;
}
/* 헤더 호버 */
#gnb:hover::after {
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #ddd;
}
#gnb > ul > li > a:hover {
  color: #587d00;
}
.submenu > li > a:hover {
  color: #587d00;
}
#gnb > ul > li > a:hover:before,
#gnb > ul > li > a:focus:before {
  color: #333;
  text-shadow: 10px 0 #333, -10px 0 #333;
}
/* 메인 */
.depth {
  margin-top: 80px;
  height: 126px;
  font-size: 16px;
  line-height: 126px;
}
/* 서브배너 */
.sub_img {
  height: 322px;
  background: url(../img/sub2/image.png) no-repeat;
  color: #fff;
}
.sub_text {
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub_text h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 13px;
}
.sub_text h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 90px;
}
.sub_text p {
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
/* 예매율 높은 갤러리 */
.rank h2 {
  margin: 120px 0 40px 0;
}
.posters {
  width: 1592px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.box {
  width: 280px;
  position: relative;
}
.box img {
  width: 280px;
  height: 232px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.box:hover img:last-of-type {
  opacity: 0;
}
.rank .titles {
  width: 1592px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 70px;
}
.detail {
  width: 272px;
  height: 94px;
  margin-left: 8px;
  margin-top: 248px;
}
.detail h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.detail div {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}
/* 지역별 전시 리스트 */
.top_con {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 80px 0;
}
.course {
  width: 200px;
  height: 29px;
  font-size: 24px;
  border: none;
  padding-left: 8px;
}
.search_box {
  height: 30px;
  width: 335px;
  background-color: #fff;
  border-radius: 40px;
  padding: 10px;
  border: 1px solid #587d00;
}
.search_text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0px;
  color: #666;
  font-size: 15px;
  line-height: 30px;
  width: 210px;
  margin-left: 10px;
}
.search_btn {
  color: #587d00;
  float: right;
  width: 40px;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  border: none;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titles {
  width: 1592px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 120px;
}
/* footer */
footer {
  width: 100%;
  height: 225px;
  background-color: #f8f8f8;
}
footer > .content {
  width: 1600px;
  height: 225px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
footer > .content img {
  margin-right: 55px;
}
.footer_text p {
  font-size: 13px;
  color: #666;
  margin-bottom: 8px;
}
.footer_text a {
  color: #666;
  text-decoration: underline;
}
.right_icons > ul {
  width: 283px;
  display: flex;
  gap: 20px;
}
.right_icons > ul > li {
  width: 46px;
}
.right_icons > ul > li img {
  width: 40px;
  height: 40px;
  opacity: 0.5;
}
.right_icons {
  margin-left: auto;
}
