@charset "utf-8";

/* 모바일~큰모바일 */
@media screen and (min-width: 320px) and (max-width: 479px) {
  header {
    height: 3.125rem;
  }
  .con {
    height: 3.125rem;
    width: 87.3vw;
  }
  h1 {
    width: 17.3vw;
    height: 1.03rem;
  }
  h1 img {
    width: 17.3vw;
    filter: none;
  }
  #gnb {
    display: none;
  }
  .icons {
    gap: 0.625rem;
  }
  .xi-search,
  .xi-user-o {
    font-size: 1.125rem;
    color: #333;
  }
  .hamburger {
    display: block;
  }
  .xi-ellipsis-v {
    font-size: 1.125rem;
    color: #333;
  }
  main {
    margin-top: 3.125rem;
  }
  .main_img1,
  .main_img2,
  .main_img3 {
    margin: 0 auto;
    position: relative;
    font-family: "Noto Sans KR", sans-serif;
    width: 87.3vw;
    height: 69.2vw;
    background-size: cover;
    background-attachment: fixed;
  }
  .main_img1 {
    background-image: url(../../img/main_img/main_img479.png);
  }
  .main_img2 {
    background-image: url(../../img/main_img/main_img2479.png);
  }
  .main_img3 {
    background-image: url(../../img/main_img/main_img3479.png);
  }
  .autoplay-progress {
    display: none;
  }
  .title_text {
    position: absolute;
    width: 56.25vw;
    height: 51.45vw;
    top: 8.95vw;
    left: 9.16vw;
  }
  .title_text h2 {
    font-size: 0.875rem;
    margin-bottom: 0.625rem;
  }
  .title_text h4 {
    font-size: 0.4375rem;
    margin-bottom: 0.4375rem;
  }
  .title_text2 p {
    font-size: 0.4375rem;
    line-height: 0.9375rem;
    margin-top: 31.25vw;
  }
  .content {
    width: 87.3vw;
    margin: 0 auto;
  }
  .hide_box {
    display: none;
  }
  /* 두번째 섹션 */
  .sec2 {
    margin: 7.9vw 0 8.3vw;
  }
  .content h3 {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 1.4375rem;
  }
  .box {
    margin: 0;
    padding: 0;
    width: 26.25vw;
    height: 37.08vw;
  }
  .box img {
    width: 100%;
  }
  .posters,
  .titles {
    width: 87.3vw;
  }
  .titles {
    margin-top: 1.67vw;
  }
  .detail {
    width: 25.8vw;
    height: 8.95vw;
    margin-left: 0.42vw;
  }
  .detail h4 {
    font-size: 0.6875rem;
    font-weight: 700;
    margin-bottom: 0.4375rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .detail div {
    font-size: 0.4375rem;
    margin-bottom: 0.1875rem;
  }
  /* 세번째 섹션 */
  .sec3 {
    margin-bottom: 8.3vw;
  }
  .sec3_con > div > a > img {
    width: 37.5vw;
  }
  button > i {
    font-size: 15px;
  }
  .subtitle {
    width: 35.4vw;
    height: auto;
    border: none;
  }
  .subtitle > span {
    width: 13.3vw;
    height: 2.08vw;
    font-size: 0.375rem;
    line-height: 0.625rem;
  }
  .sec3_con {
    gap: 8.3vw;
  }
  .xi-refresh {
    line-height: 0;
  }
  .subtitle h4 {
    font-size: 0.75rem;
    margin: 0.625rem 0 0.3125rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .info {
    font-size: 0.3375rem;
    gap: 0.3125rem;
  }
  .graph h4 {
    font-size: 0.75rem;
    margin: 5.83vw 0 3.33vw;
  }
  .charts {
    width: 37.45vw;
    display: flex;
    flex-direction: column;
    gap: 4.17vw;
  }
  .chart {
    position: relative;
    width: 20.83vw;
    height: 20.83vw;
    border-radius: 50%;
    transition: 0.3s;
    display: inline-block;
  }
  .chart:after {
    width: 10.41vw;
    height: 10.41vw;
  }
  .cir_text h3:first-child {
    margin-top: 0.625rem;
  }
  .cir_text h3 {
    font-size: 0.425rem;
    margin-bottom: 0.625rem;
  }
  .circle {
    gap: 4.17vw;
  }
  .bars,
  .bar.initial-bar {
    display: none;
  }
  .charts a {
    display: block;
    color: #666;
    font-size: 0.5rem;
    margin-top: 5vw;
    text-align: right;
  }
  /* 네번째 섹션 */
  .sec4 {
    margin-bottom: 8.3vw;
  }
  .box2 {
    width: 26.25vw;
    height: 37.08vw;
  }
  .box2 img {
    width: 100%;
  }
  .sec4_poster,
  .right_text,
  .titles2 {
    width: 87.3vw;
  }
  .sec4_con .detail {
    width: 26.25vw;
    margin-top: 1.67vw;
  }
  .right_text > .detail h4 {
    font-size: 0.6875rem;
  }
  .sec4_left {
    display: none;
  }
  /* 다섯번째 섹션 */
  .sec5 {
    margin-bottom: 8.3vw;
  }
  .right_rank {
    display: none;
  }
  .rank_1 {
    width: 87.3vw;
    height: 14.58vw;
    margin-bottom: 3.33vw;
  }
  .rank_1 h2 {
    font-size: 0.75rem;
    margin-right: 8.75vw;
    margin-left: 7.3vw;
  }
  .rank_1 img {
    width: 9.58vw;
  }
  .rank_1 h4 {
    font-size: 0.725rem;
    margin-left: 5.42vw;
  }
  .rank {
    height: 6.04vw;
    margin-bottom: 2.08vw;
  }
  .rank h2 {
    font-size: 0.625rem;
    margin-left: 7.3vw;
    margin-right: 8.75vw;
  }
  .rank h4 {
    font-size: 0.4375rem;
    margin-left: 5.62vw;
  }
  .rank img {
    width: 6.04vw;
  }
  .rank_1:hover,
  .rank:hover {
    transform: translateY(-1.04vw);
  }
  /* 여섯번째 섹션 */
  .sec6 {
    margin-bottom: 10.4vw;
  }
  .posters2 {
    width: 87.3vw;
  }
  .posters2 img {
    width: 26.25vw;
  }
  .review_text {
    width: 58.3vw;
    position: absolute;
    transform: translateY(-11.25vw) translateX(3.33vw);
    line-height: 1.5;
    font-size: 0.375rem;
    color: #fff;
  }
  .review_text > p {
    width: 20.83vw;
    margin-bottom: 0.625rem;
  }
  .review_text > span:last-of-type {
    margin-left: 10.4vw;
  }
  .titles2 {
    margin-top: 1.67vw;
  }
  .detail2 {
    width: 25.8vw;
    height: 8.95vw;
    margin-left: 0.42vw;
  }
  .detail2 h4 {
    font-size: 0.6875rem;
    font-weight: 700;
    margin-bottom: 0.4375rem;
    width: 100%;
  }
  .detail2 div {
    font-size: 0.4375rem;
    margin-bottom: 0.1875rem;
  }
  /* footer */
  footer {
    height: 7.5rem;
  }
  footer > .content img {
    width: 9.38vw;
    margin-right: 6.25vw;
  }
  footer > .content {
    width: 87.3vw;
    height: 7.5rem;
  }
  .footer_text p {
    font-size: 0.375rem;
    margin-bottom: 0.1875rem;
  }
  .footer_text a {
    text-decoration: none;
  }
  .right_icons > ul {
    width: 18.1vw;
    display: flex;
    gap: 1.67vw;
  }
  .right_icons > ul > li {
    width: 3.33vw;
  }
  .right_icons > ul > li img {
    width: 3.13vw;
    height: 3.13vw;
  }
}

/* 모바일 가로~테블릿 세로 */
@media screen and (min-width: 480px) and (max-width: 767px) {
  header {
    height: 9.21vw;
  }
  .con {
    height: 9.21vw;
    width: 94vw;
  }
  h1 {
    width: 17.2vw;
    height: 3.38vw;
  }
  h1 img {
    width: 17.2vw;
    filter: none;
  }
  #gnb {
    display: none;
  }
  .icons {
    gap: 2.78vw;
  }
  .xi-search,
  .xi-user-o {
    font-size: 3.3vw;
    color: #333;
  }
  .xi-ellipsis-v {
    font-size: 3.3vw;
    color: #333;
  }
  main {
    margin-top: 9.21vw;
  }
  .main_img1,
  .main_img2,
  .main_img3 {
    margin: 0 auto;
    position: relative;
    font-family: "Noto Sans KR", sans-serif;
    width: 94vw;
    height: 73.13vw;
    background-size: cover;
    background-attachment: fixed;
  }
  .main_img1 {
    background-image: url(../../img/main_img/main_img479.png);
  }
  .main_img2 {
    background-image: url(../../img/main_img/main_img2479.png);
  }
  .main_img3 {
    background-image: url(../../img/main_img/main_img3479.png);
  }
  .autoplay-progress {
    display: none;
  }
  .title_text {
    position: absolute;
    width: 56.25vw;
    height: 51.45vw;
    top: 8.95vw;
    left: 9.16vw;
  }
  .title_text h2 {
    font-size: 1.25rem;
    margin-bottom: 2.63vw;
  }
  .title_text h4 {
    font-size: 0.75rem;
    margin-bottom: 1.05vw;
  }
  .title_text2 p {
    font-size: 0.75rem;
    line-height: 1.5rem;
    margin-top: 35.26vw;
  }
  .content {
    width: 94vw;
    margin: 0 auto;
  }
  .hide_box {
    display: none;
  }
  /* 두번째 섹션 */
  .sec2 {
    margin: 6.25vw 0 10.42vw;
  }
  .content h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 3.65vw;
  }
  .box {
    margin: 0;
    padding: 0;
    width: 28.2vw;
    height: 39.6vw;
  }
  .box img {
    width: 100%;
  }
  .posters,
  .titles {
    width: 94vw;
  }
  .titles {
    margin-top: 1.3vw;
  }
  .detail {
    width: 27.7vw;
    height: 9.2vw;
    margin-left: 0.66vw;
  }
  .detail h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .detail div {
    font-size: 0.69rem;
    margin-bottom: 1.3vw;
  }
  /* 세번째 섹션 */
  .sec3 {
    margin-bottom: 10.42vw;
  }
  .sec3_con > div > a > img {
    width: 43.38vw;
  }
  button > i {
    font-size: 2.36vw;
  }
  .subtitle {
    width: 39.06vw;
    height: auto;
    border: none;
  }
  .subtitle > span {
    width: 15.63vw;
    height: 2.1vw;
    font-size: 1vw;
    line-height: 2.1vw;
  }
  .sec3_con {
    gap: 5.2vw;
  }
  .subtitle h4 {
    font-size: 1.25rem;
    margin: 2.34vw 0 1.95vw 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .info {
    font-size: 1vw;
    gap: 1.3vw;
  }
  .graph h4 {
    font-size: 1.25rem;
    margin: 5.86vw 0 4.56vw 0;
  }
  .charts {
    width: 39.06vw;
    display: flex;
    flex-direction: column;
    gap: 8.47vw;
  }
  .chart {
    position: relative;
    width: 21.48vw;
    height: 21.48vw;
    border-radius: 50%;
    transition: 0.3s;
    display: inline-block;
  }
  .chart:after {
    width: 10.42vw;
    height: 10.42vw;
  }
  .cir_text h3:first-child {
    margin-top: 0.625rem;
  }
  .cir_text h3 {
    font-size: 0.94rem;
    margin-bottom: 3.13vw;
  }
  .circle {
    gap: 4.17vw;
  }
  .bars,
  .bar.initial-bar {
    display: none;
  }
  .charts a {
    display: block;
    color: #666;
    font-size: 1vw;
    margin-top: 5vw;
    text-align: right;
  }
  /* 네번째 섹션 */
  .sec4 {
    margin-bottom: 10.42vw;
  }
  .box2 {
    width: 28.2vw;
    height: 39.6vw;
  }
  .box2 img {
    width: 100%;
  }
  .sec4_poster,
  .right_text,
  .titles2 {
    width: 94vw;
  }
  .sec4_con .detail {
    width: 27.7vw;
    margin-top: 1.3vw;
  }
  .right_text > .detail h4 {
    font-size: 1rem;
  }
  .sec4_left {
    display: none;
  }
  /* 다섯번째 섹션 */
  .sec5 {
    margin-bottom: 10.42vw;
  }
  .right_rank {
    display: none;
  }
  .rank_1 {
    width: 94vw;
    height: 15.78vw;
    margin-bottom: 2.74vw;
  }
  .rank_1 h2 {
    font-size: 1.25rem;
    margin-right: 11.6vw;
    margin-left: 7.29vw;
  }
  .rank_1 img {
    width: 9.51vw;
  }
  .rank_1 h4 {
    font-size: 1rem;
    margin-left: 6.51vw;
  }
  .rank {
    height: 5.87vw;
    margin-bottom: 2.08vw;
  }
  .rank h2 {
    font-size: 1rem;
    margin-left: 7.29vw;
    margin-right: 11.6vw;
  }
  .rank h4 {
    font-size: 0.81rem;
    margin-left: 6vw;
  }
  .rank img {
    width: 5.86vw;
  }
  .rank_1:hover,
  .rank:hover {
    transform: translateY(-0.65vw);
  }
  /* 여섯번째 섹션 */
  .sec6 {
    margin-bottom: 7.29vw;
  }
  .posters2 {
    width: 94vw;
  }
  .posters2 img {
    width: 28.2vw;
  }
  .review_text {
    width: 28.2vw;
    position: absolute;
    transform: translateY(-11.11vw) translateX(3.33vw);
    line-height: 1.5;
    font-size: 0.625rem;
    color: #fff;
  }
  .review_text > p {
    width: 22.5vw;
    margin-bottom: 2.08vw;
  }
  .review_text > span:last-of-type {
    margin-left: 11.46vw;
  }
  .titles2 {
    margin-top: 1.3vw;
  }
  .detail2 {
    width: 27.7vw;
    height: 9.2vw;
    margin-left: 0.66vw;
  }
  .detail2 h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.7vw;
    width: 100%;
  }
  .detail2 div {
    font-size: 0.69rem;
    margin-bottom: 1.3vw;
  }
  /* footer */
  footer {
    height: 10vw;
  }
  footer > .content img {
    width: 9.38vw;
    margin-right: 6.25vw;
  }
  footer > .content {
    width: 94vw;
    height: 10vw;
  }
  .footer_text p {
    font-size: 0.5rem;
    margin-bottom: 0.52vw;
  }
  .footer_text a {
    text-decoration: none;
  }
  .right_icons > ul {
    width: 18.1vw;
    display: flex;
    gap: 1.67vw;
  }
  .right_icons > ul > li {
    width: 3.33vw;
  }
  .right_icons > ul > li img {
    width: 3.13vw;
    height: 3.13vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .content {
    width: 87.5vw;
    margin: 0 auto;
  }
  header {
    width: 100%;
    height: 4.375rem;
  }
  .con {
    width: 87.5vw;
    height: 4.375rem;
  }
  h1 {
    width: 5.625rem;
    height: 1.11rem;
  }
  h1 img {
    width: 100%;
    filter: brightness(0) invert(1);
  }
  #gnb {
    width: 48.83vw;
    height: 4.875rem;
  }
  #gnb > ul {
    gap: 3.5rem;
  }
  #gnb > ul > li {
    font-size: 0.9375rem;
  }
  .submenu > li {
    width: 5.1875rem;
  }
  #gnb::after {
    top: 4.375rem;
  }
  .xi-search,
  .xi-user-o {
    font-size: 1.25rem;
  }
  .icons {
    gap: 1.25rem;
  }
  .main_img1,
  .main_img2,
  .main_img3 {
    height: 33.31rem;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main_img1 {
    background-image: url(../../img/main_img/main_11023.png);
  }
  .main_img2 {
    background-image: url(../../img/main_img/main_21023.png);
  }
  .main_img3 {
    background-image: url(../../img/main_img/main_31023.png);
  }
  .title_text {
    width: 30rem;
    height: 24.5rem;
    top: 5.625rem;
    left: 6.25rem;
  }
  .title_text h2 {
    font-size: 1.5rem;
    margin-bottom: 1.6875rem;
  }
  .title_text h4 {
    font-size: 0.875rem;
    margin-bottom: 0.9375rem;
  }
  .title_text2 p {
    font-size: 0.875rem;
    line-height: 1.625rem;
    margin-top: 12.5rem;
  }
  .autoplay-progress {
    display: none;
  }
  .sec2 {
    margin-top: 4.375rem;
    margin-bottom: 5rem;
  }
  .content h3 {
    font-size: 1.125rem;
    margin-bottom: 1.875rem;
  }
  .posters,
  .titles {
    width: 87.5vw;
  }
  .box {
    width: 9.8125rem;
    height: 13.875rem;
    overflow: hidden;
  }
  .box img {
    width: 100%;
  }
  .detail {
    width: 9.5rem;
    height: 5.875rem;
    margin-left: 0.3125rem;
  }
  .detail h4 {
    font-size: 0.875rem;
    margin-bottom: 0.9375rem;
    width: 100%;
  }
  .detail div {
    font-size: 0.625rem;
    margin-bottom: 0.5rem;
  }
  .sec3 {
    margin-bottom: 6.25rem;
  }
  button > i {
    font-size: 1.25rem;
  }
  .sec3_con {
    gap: 3.5625rem;
  }
  .sec3_con img {
    width: 17.5rem;
  }
  .subtitle {
    width: 33.0625rem;
    height: 8.875rem;
  }
  .subtitle > span {
    width: 8.5625rem;
    height: 1.25rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  .subtitle h4 {
    font-size: 1.25rem;
    margin: 1.5625rem 0 0.9375rem 0;
  }
  .info {
    display: flex;
    gap: 1.25rem;
  }
  .graph h4 {
    font-size: 1.25rem;
    margin: 1.875rem 0;
  }
  .charts {
    gap: 5.3125rem;
  }
  .chart {
    width: 9.375rem;
    height: 9.375rem;
  }
  .chart:after {
    width: 4.6875rem;
    height: 4.6875rem;
  }
  .circle {
    gap: 3.125rem;
  }
  .cir_text {
    width: 6.875rem;
    font-size: 0.625rem;
  }
  .bars {
    display: none;
  }
  .charts a {
    color: #999;
    display: block;
    margin-top: 9.0625rem;
    font-size: 0.8125rem;
  }
  .sec4 {
    margin-bottom: 5rem;
  }
  .sec4_poster {
    width: 25.625rem;
    height: 11.375rem;
  }
  .sec4_poster img {
    width: 100%;
  }
  .box2 {
    width: 8rem;
    height: 11.375rem;
  }
  .box2 img {
    width: 100%;
  }
  .right_text,
  .left_text {
    width: 25.625rem;
  }
  .sec4_con .detail {
    width: 8rem;
    margin-top: 0.5rem;
    margin-left: 0.0625rem;
  }
  .sec4_con .detail h4 {
    font-size: 0.6875rem;
  }
  .sec4 .detail div {
    font-size: 0.5625rem;
  }
  .sec5 {
    margin-bottom: 5rem;
  }
  .left_rank > h3,
  .right_rank > h3 {
    height: 1.5rem;
  }
  .rank_1 {
    width: 25.625rem;
    height: 5.3125rem;
    margin-bottom: 2.125rem;
  }
  .rank_1 img {
    width: 3.4375rem;
  }
  .rank_1 h2 {
    font-size: 1.25rem;
    margin: 0 1.625rem 0 1.875rem;
  }
  .rank_1 h4 {
    font-size: 0.8125rem;
    margin-left: 1.875rem;
  }
  .rank {
    height: 2.4375rem;
    margin-bottom: 1.125rem;
  }
  .rank img {
    width: 2.4375rem;
  }
  .rank h2 {
    font-size: 1rem;
    margin: 0 1.625rem 0 1.875rem;
  }
  .rank h4 {
    font-size: 0.75rem;
    margin-left: 1.875rem;
  }
  .sec6 {
    margin-bottom: 2.5rem;
  }
  .posters2,
  .titles2 {
    width: 87.5vw;
  }
  .posters2 img {
    width: 9.8125rem;
  }
  .review_text {
    width: 9.8125rem;
    transform: translateY(-4.6875rem) translateX(0.9375rem);
    line-height: 0.9375rem;
    font-size: 0.5rem;
  }
  .review_text > p {
    width: 8.125rem;
    margin-bottom: 0.625rem;
  }
  .review_text > span:last-of-type {
    margin-left: 4.375rem;
  }
  .detail2 {
    width: 9.5rem;
    height: 5.875rem;
    margin-left: 0.3125rem;
  }
  .detail2 h4 {
    font-size: 0.875rem;
    margin-bottom: 0.9375rem;
    width: 100%;
  }
  .detail2 div {
    font-size: 0.625rem;
    margin-bottom: 0.5rem;
  }
  footer {
    height: 11.875rem;
  }
  footer > .content {
    width: 87.5vw;
    height: 11.875rem;
  }
  footer > .content img {
    width: 5rem;
    margin-right: 3.125rem;
  }
  .footer_text p {
    font-size: 0.625rem;
  }
  .right_icons > ul {
    width: 12.5rem;
    display: flex;
    gap: 0.9375rem;
  }
  .right_icons > ul > li {
    width: 1.875rem;
  }
  .right_icons > ul > li img {
    width: 1.875rem;
    height: 1.875rem;
    opacity: 0.5;
  }
}
