@charset "utf-8";

@media screen and (min-width: 320px) and (max-width: 479px) {
  header {
    height: 3.125rem;
  }
  .con {
    height: 3.125rem;
    width: 87.3vw;
  }
  h1 {
    width: 17.3vw;
    height: 1.03rem;
  }
  h1 img {
    width: 17.3vw;
    filter: none;
  }
  #gnb {
    display: none;
  }
  .icons {
    gap: 0.625rem;
  }
  .xi-search,
  .xi-user-o {
    font-size: 1.125rem;
    color: #333;
  }
  .hamburger {
    height: 2.8125rem;
    display: grid;
    grid-template-rows: repeat(3, 0.3125rem);
    justify-items: center;
    margin-top: 0.3125rem;
  }
  .hamburger div {
    background-color: #333;
    position: relative;
    width: 3.125vw;
    height: 0.125rem;
    transition: all 0.2s ease-in-out;
  }
  #toggle {
    display: none;
  }
  #toggle:checked + .hamburger .top {
    transform: rotate(45deg);
    margin-top: 1.25vw;
  }
  #toggle:checked + .hamburger .middle {
    transform: rotate(-45deg);
    margin-top: 0.208vw;
  }
  #toggle:checked + .hamburger .bottom {
    transform: scale(0);
  }

  .content {
    width: 90vw;
    margin: 0 auto;
  }

  .depth {
    margin-top: 4rem;
    height: 3.375rem;
    font-size: 0.625rem;
    line-height: 3.375rem;
  }

  .sub_img {
    height: 6.125rem;
    background: url(../../img/sub1-1/image479.png) no-repeat;
    background-size: cover;
  }

  .sub_text {
    height: 6.125rem;
  }

  .sub_text h3 {
    font-size: 0.45rem;
    margin-bottom: 0.3125rem;
  }

  .sub_text h2 {
    font-size: 0.625rem;
    margin-bottom: 1rem;
  }

  .sub_text p {
    font-size: 0.375rem;
    line-height: 0.8125rem;
  }

  .tab {
    margin: 2.25rem 0;
    gap: 2.5vw;
  }

  .tab a {
    width: 8.5vw;
    height: 5vw;
    border-radius: 100px;
    font-size: 0.5rem;
    line-height: 5vw;
  }

  h2 {
    font-size: 0.6875rem;
  }

  .location {
    margin: 1.0625rem 0 2.25rem;
  }

  .location table {
    width: 90%;
    height: auto;
  }

  .location table td button {
    width: 15vw;
    height: 6vw;
    line-height: 6vw;
    font-size: 0.45rem;
  }

  .rank h2 {
    margin-bottom: 1.5rem;
  }

  .posters {
    width: 90vw;
    gap: 6vw;
  }

  .box {
    width: 26.25vw;
    overflow: hidden;
  }

  .box img {
    width: 100%;
    object-fit: cover;
  }

  .hide_box {
    display: none;
  }

  .rank .titles {
    width: 90vw;
    gap: 6vw;
    margin-top: 0.3125rem;
    padding-bottom: 2.25rem;
  }

  .detail {
    width: 25.8vw;
    height: 8.95vw;
    margin-left: 0.42vw;
  }

  .detail h4 {
    height: 0.875rem;
    font-size: 0.625rem;
    margin-bottom: 0.25rem;
  }

  .detail div {
    font-size: 0.5rem;
    margin-bottom: 0.1875rem;
  }

  .top_con {
    margin: 2.5rem 0 1.875rem;
  }

  .course {
    width: 22vw;
    height: 5vw;
    font-size: 0.75rem;
    padding-left: 2vw;
  }

  .search_box {
    height: 5vw;
    width: 34vw;
    border-radius: 22px;
    padding: 0 1vw;
    box-sizing: border-box;
  }

  .search_text {
    font-size: 0.4375rem;
    line-height: 5vw;
    width: 88px;
  }

  .search_btn {
    width: 4.5vw;
    height: 4.5vw;
    font-size: 0.5625rem;
  }

  .search_btn i {
    font-size: 0.5625rem;
    line-height: 4.5vw;
  }

  .titles {
    width: 90vw;
    gap: 6vw;
    margin-top: 0.3125rem;
    margin-bottom: 2.5rem;
  }

  footer {
    height: 7.5rem;
  }

  footer > .content img {
    width: 9.38vw;
    margin-right: 6.25vw;
  }

  footer > .content {
    width: 87.3vw;
    height: 7.5rem;
  }

  .footer_text p {
    font-size: 0.375rem;
    margin-bottom: 0.1875rem;
  }

  .footer_text a {
    text-decoration: none;
  }

  .right_icons > ul {
    width: 18.1vw;
    display: flex;
    gap: 1.67vw;
  }

  .right_icons > ul > li {
    width: 3.33vw;
  }

  .right_icons > ul > li img {
    width: 3.13vw;
    height: 3.13vw;
  }
}
