@charset "utf-8";

/* 모바일 세로 */
@media screen and (min-width: 320px) and (max-width: 639px) {
  .content {
    width: 90%;
    margin: 0 auto;
  }
  section {
    width: 100%;
  }
  header {
    background-color: #fff;
    height: 70px;
    z-index: 999;
  }
  .con {
    width: 90%;
    height: 70px;
  }
  h1 {
    width: fit-content;
    height: fit-content;
  }
  h1 img {
    width: 70%;
    filter: none;
  }
  #gnb {
    display: none;
  }
  #gnb2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12.5rem;
    width: 100%;
    position: absolute;
    left: 0;
    top: 70px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 100;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    pointer-events: none;
  }
  #gnb2.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  #gnb2 > ul {
    background-color: #fff;
    padding: 1.25rem 0 0.625rem 1.875rem;
  }
  #gnb2 > ul > li {
    margin-bottom: 1.5625rem;
  }
  #gnb2 > ul > li > a {
    color: #666;
    font-weight: 600;
  }
  #gnb2 a:hover {
    color: #587d00;
  }
  .submenu2 {
    margin-top: 0.625rem; /* 10px */
  }
  .submenu2 li {
    margin-bottom: 0.625rem; /* 10px */
  }
  .submenu2 li a {
    color: #666;
  }
  .icons {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 8px;
  }
  .icons > button i {
    font-size: 20px;
  }
  .xi-search,
  .xi-user-o {
    color: #333;
  }
  .icons .hamburger {
    display: flex;
    justify-content: center;
  }
  .depth {
    margin-top: 70px;
    height: 10.55vw;
    font-size: clamp(8px, 2.5vw, 13px);
    line-height: 10.55vw;
  }
  .sub_img {
    height: clamp(90px, 28.125vw, 150px);
    background: url(../../img/sub1-1/image479.png) no-repeat;
    background-size: cover;
  }
  .sub_text {
    height: clamp(90px, 28.125vw, 150px);
  }
  .sub_text h3 {
    font-size: clamp(8px, 2.5vw, 13px);
    margin-bottom: clamp(5px, 1.563vw, 10px);
  }
  .sub_text h2 {
    font-size: clamp(10px, 3.125vw, 15px);
    margin-bottom: clamp(20px, 6.25vw, 30px);
  }
  .sub_text p {
    font-size: clamp(8px, 2.5vw, 13px);
    line-height: 1.5;
  }
  .tab {
    margin: clamp(22.4px, 7vw, 44.7px) 0;
    gap: clamp(8px, 2.5vw, 16px);
  }
  .tab a {
    width: clamp(35px, 10.938vw, 56px);
    height: clamp(19px, 5.938vw, 32px);
    border-radius: 100px;
    font-size: clamp(8px, 2.5vw, 14px);
    line-height: clamp(19px, 5.938vw, 32px);
  }
  h2 {
    font-size: clamp(14px, 4.375vw, 20px);
  }
  .tab__content-wrapper {
    padding: 0;
  }
  .location {
    margin: clamp(16px, 5vw, 32px) 0 clamp(22.4px, 7vw, 44.7px);
  }
  .location table {
    width: 100%;
    height: auto;
  }
  .location table td button {
    width: 100%;
    height: clamp(23px, 7.188vw, 36px);
    line-height: clamp(16px, 5vw, 30px);
    font-size: clamp(8px, 2.5vw, 14px);
  }
  .rank h2 {
    margin: clamp(28px, 8.75vw, 56px) 0;
  }
  .exhibitions {
    gap: clamp(3px, 2vw, 25px);
    flex-wrap: wrap;
  }
  .poster {
    width: clamp(100px, 41.8vw, 290px);
    height: auto;
    overflow: hidden;
  }
  .poster img {
    width: 100%;
    object-fit: cover;
    transform: scale(1);
  }
  .exhibition h4 {
    width: clamp(80px, 36.25vw, 390px);
    font-size: clamp(10px, 4.063vw, 18px);
    margin: clamp(6px, 3.125vw, 10px) 0 clamp(6px, 3.125vw, 10px)
      clamp(2px, 1.25vw, 4px);
  }
  .exhibition div:not(:first-of-type) {
    width: clamp(80px, 36.25vw, 390px);
    font-size: clamp(8px, 3.125vw, 14px);
    font-weight: 400;
    margin-bottom: clamp(4px, 2.188vw, 8px);
  }
  .rank .exhibition:last-child {
    display: none;
  }
  .top_con {
    margin: clamp(32px, 10vw, 64px) 0 clamp(25.6px, 8vw, 51.2px);
  }
  .course {
    width: clamp(70.4px, 22vw, 140px);
    height: clamp(16px, 5vw, 32px);
    font-size: clamp(12px, 3.75vw, 18px);
    padding-left: clamp(6.4px, 2vw, 12.8px);
    color: #333;
  }
  .search_box {
    height: clamp(16px, 5vw, 32px);
    width: clamp(108.8px, 34vw, 220px);
    border-radius: clamp(22.08px, 6.9vw, 44.16px);
    padding: 0 clamp(3.2px, 1vw, 6.4px) 0 0;
    box-sizing: border-box;
  }
  .search_text {
    font-size: clamp(7px, 2.188vw, 12px);
    line-height: clamp(16px, 5vw, 32px);
    width: clamp(57.6px, 19vw, 120px);
  }
  .search_btn {
    width: clamp(12.8px, 4vw, 25.6px);
    height: clamp(14.4px, 4.5vw, 25px);
    font-size: clamp(7.4px, 2.313vw, 14.8px);
  }
  .search_btn i {
    font-size: clamp(7.4px, 2.313vw, 14.8px);
    line-height: clamp(14.4px, 4.5vw, 25px);
  }
  .local_list .exhibitions {
    margin-bottom: clamp(30px, 9.375vw, 60px);
  }
  .local_list .exhibition {
    margin-bottom: clamp(20px, 6.25vw, 40px);
  }

  footer {
    width: 100%;
    height: clamp(120px, 53.125vw, 200px);
    background-color: #f8f8f8;
    display: flex;
  }
  footer > .content {
    width: 90%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  footer > .content > div > img {
    display: none;
  }
  .footer_text p {
    font-size: clamp(7px, 2.813vw, 10px);
    color: #666;
    margin-bottom: clamp(4px, 1.875vw, 8px);
  }
  .right_icons {
    margin: 0;
    width: clamp(200px, 82.813vw, 265px);
  }
  .right_icons > ul {
    justify-content: start;
    gap: clamp(10px, 4.375vw, 14px);
    margin-top: clamp(6px, 3.125vw, 10px);
  }
  .right_icons > ul > li {
    width: clamp(18px, 8.125vw, 30px);
  }

  .right_icons > ul > li img {
    width: clamp(18px, 8.125vw, 30px);
    height: clamp(18px, 8.125vw, 30px);
    opacity: 0.5;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .content {
    width: 90%;
    margin: 0 auto;
  }
  header {
    background-color: #fff;
    height: 70px;
    position: fixed;
    z-index: 999;
  }
  .con {
    width: 90%;
    height: 70px;
    z-index: 999;
  }

  h1 {
    width: fit-content;
    height: fit-content;
  }

  h1 img {
    width: 70%;
    filter: none;
  }

  #gnb {
    display: none;
  }

  #gnb2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: clamp(160px, 19.53vw, 200px);
    width: 100%;
    position: absolute;
    left: 0;
    top: 70px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 100;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    pointer-events: none;
  }

  #gnb2.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    z-index: 100;
  }

  #gnb2 > ul {
    background-color: #fff;
    padding: clamp(16px, 2.5vw, 24px) 0 clamp(10px, 1.56vw, 15px)
      clamp(30px, 5vw, 30px);
  }

  #gnb2 > ul > li {
    margin-bottom: clamp(18px, 2.93vw, 30px);
  }

  #gnb2 > ul > li > a {
    color: #666;
    font-weight: 600;
  }

  #gnb2 a:hover {
    color: #587d00;
  }

  .submenu2 {
    margin-top: clamp(8px, 1.25vw, 10px);
  }

  .submenu2 li {
    margin-bottom: clamp(8px, 1.25vw, 10px);
  }

  .submenu2 li a {
    color: #666;
  }

  .icons {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: clamp(6px, 2vw, 16px);
  }

  .icons > button i {
    font-size: clamp(16px, 30vw, 22px);
  }

  .xi-search,
  .xi-user-o {
    color: #333;
  }

  .icons .hamburger {
    display: flex;
    justify-content: center;
  }
  .depth {
    margin-top: 70px;
    height: 10.55vw;
    font-size: clamp(8px, 2.5vw, 13px);
    line-height: 10.55vw;
  }
  .sub_img {
    height: clamp(90px, 28.125vw, 150px);
    background: url(../../img/sub1-1/image479.png) no-repeat;
    background-size: cover;
  }
  .sub_text {
    height: clamp(90px, 28.125vw, 150px);
  }
  .sub_text h3 {
    font-size: clamp(8px, 2.5vw, 13px);
    margin-bottom: clamp(5px, 1.563vw, 10px);
  }
  .sub_text h2 {
    font-size: clamp(10px, 3.125vw, 15px);
    margin-bottom: clamp(20px, 6.25vw, 30px);
  }
  .sub_text p {
    font-size: clamp(8px, 2.5vw, 13px);
    line-height: 1.5;
  }
  .tab {
    margin: clamp(22.4px, 7vw, 44.7px) 0;
    gap: clamp(8px, 2.5vw, 16px);
  }
  .tab a {
    width: clamp(35px, 10.938vw, 56px);
    height: clamp(19px, 5.938vw, 32px);
    border-radius: 100px;
    font-size: clamp(8px, 2.5vw, 14px);
    line-height: clamp(19px, 5.938vw, 32px);
  }
  h2 {
    font-size: clamp(14px, 4.375vw, 20px);
  }
  .tab__content-wrapper {
    padding: 0;
  }
  .location {
    margin: clamp(16px, 5vw, 32px) 0 clamp(22.4px, 7vw, 44.7px);
  }
  .location table {
    width: 100%;
    height: auto;
  }
  .location table td button {
    width: 100%;
    height: clamp(23px, 7.188vw, 50px);
    line-height: clamp(16px, 5vw, 30px);
    font-size: clamp(8px, 2.5vw, 14px);
  }
  .rank h2 {
    margin: clamp(28px, 8.75vw, 56px) 0;
  }
  .exhibitions {
    gap: clamp(6px, 3vw, 24px);
    flex-wrap: wrap;
  }
  .poster {
    width: clamp(170px, 27vw, 285px);
    height: auto;
    overflow: hidden;
  }

  .poster img {
    width: clamp(170px, 27vw, 285px);
    height: auto;
    transform: scale(1);
  }
  .exhibition h4 {
    width: clamp(140px, 25vw, 279px);
    font-size: clamp(16px, 2vw, 18px);
    margin: clamp(8px, 1vw, 10px) 0 clamp(8px, 1vw, 10px) clamp(4px, 2vw, 8px);
  }

  .exhibition div:not(:first-of-type) {
    width: clamp(140px, 25vw, 279px);
    font-size: clamp(10px, 1.5vw, 13px);
    margin: clamp(8px, 2vw, 11px) 0 clamp(8px, 1vw, 10px) clamp(4px, 1vw, 6px);
  }
  .rank .exhibition:last-child,
  .rank .exhibition:nth-child(3) {
    display: none;
  }

  .exhibition:first-child,
  .exhibition:nth-child(2) {
    margin-bottom: clamp(12px, 3vw, 20px);
  }
  .top_con {
    margin: clamp(32px, 10vw, 64px) 0 clamp(25.6px, 8vw, 51.2px);
  }
  .course {
    width: clamp(70.4px, 22vw, 140px);
    height: clamp(16px, 5vw, 32px);
    font-size: clamp(12px, 3.75vw, 18px);
    padding-left: clamp(6.4px, 2vw, 12.8px);
    color: #333;
  }
  .search_box {
    height: clamp(16px, 5vw, 32px);
    width: clamp(108.8px, 34vw, 220px);
    border-radius: clamp(22.08px, 6.9vw, 44.16px);
    padding: 0 clamp(3.2px, 1vw, 7px) 0 clamp(3.2px, 1vw, 7px);
    box-sizing: border-box;
  }
  .search_text {
    font-size: clamp(7px, 2.188vw, 12px);
    line-height: clamp(16px, 5vw, 32px);
    width: clamp(57.6px, 19vw, 120px);
  }
  .search_btn {
    width: clamp(12.8px, 4vw, 25.6px);
    height: clamp(14.4px, 4.5vw, 25px);
    font-size: clamp(7.4px, 2.313vw, 14.8px);
  }
  .search_btn i {
    font-size: clamp(7.4px, 2.313vw, 14.8px);
    line-height: clamp(14.4px, 4.5vw, 25px);
  }
  .local_list .exhibitions {
    margin-bottom: clamp(30px, 9.375vw, 60px);
  }
  .local_list .exhibition {
    margin-bottom: clamp(20px, 6.25vw, 40px);
  }

  footer {
    width: 100%;
    height: clamp(120px, 53.125vw, 200px);
    background-color: #f8f8f8;
    display: flex;
  }
  footer > .content {
    width: 90%;
    height: auto;
  }
  footer > .content > div > img {
    display: none;
  }
  .footer_text p {
    font-size: clamp(7px, 2.813vw, 10px);
    color: #666;
    margin-bottom: clamp(4px, 1.875vw, 8px);
  }
  .right_icons {
    width: 170px;
  }
  .right_icons > ul {
    justify-content: start;
    gap: clamp(10px, 4.375vw, 14px);
    margin-top: clamp(6px, 3.125vw, 10px);
  }
  .right_icons > ul > li {
    width: clamp(18px, 8.125vw, 30px);
  }

  .right_icons > ul > li img {
    width: clamp(18px, 8.125vw, 30px);
    height: clamp(18px, 8.125vw, 30px);
    opacity: 0.5;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .content {
    width: 87.5vw;
    margin: 0 auto;
  }
  header {
    width: 100%;
    height: clamp(4rem, 4.375rem, 5vw);
  }
  .con {
    width: 87.5vw;
    height: clamp(4rem, 4.375rem, 5vw);
  }
  h1 {
    width: clamp(5rem, 5.625rem, 6vw);
    height: clamp(1rem, 1.11rem, 1.5vw);
  }
  h1 img {
    width: 100%;
  }
  #gnb {
    width: 48.83vw;
    height: clamp(4.5rem, 4.875rem, 5.5vw);
  }
  #gnb > ul {
    gap: clamp(2rem, 3.5rem, 4vw);
  }
  #gnb > ul > li {
    font-size: clamp(0.875rem, 0.9375rem, 1.125rem);
  }
  .submenu > li {
    width: clamp(4rem, 5.1875rem, 6vw);
  }
  #gnb::after {
    top: clamp(4rem, 4.375rem, 5vw);
  }
  .xi-search,
  .xi-user-o {
    font-size: clamp(1rem, 1.25rem, 1.5rem);
  }
  .icons {
    gap: clamp(1rem, 1.25rem, 2rem);
  }
  .main_img1,
  .main_img2,
  .main_img3 {
    background-size: cover;
    background-position: center center;
  }
  .title_text {
    width: clamp(30rem, 40rem, 45rem);
    height: clamp(20rem, 24.5rem, 30rem);
    top: clamp(120px, 150px, 180px);
    left: clamp(4rem, 6.25rem, 8rem);
  }
  .title_text h2 {
    font-size: clamp(1.5rem, 28px, 2.25rem);
    margin-bottom: clamp(1rem, 1.6875rem, 2rem);
  }
  .title_text h4 {
    font-size: clamp(0.875rem, 16px, 1.125rem);
    margin-bottom: clamp(0.5rem, 0.9375rem, 1rem);
  }
  .title_text2 p {
    font-size: clamp(0.875rem, 16px, 1.125rem);
    line-height: 2;
    margin-top: clamp(20rem, 350px, 25rem);
  }
  .depth {
    margin-top: 70px;
    height: 10.55vw;
    font-size: clamp(8px, 2.5vw, 13px);
    line-height: 10.55vw;
  }
  .sub_img {
    height: clamp(90px, 28.125vw, 150px);
    background: url(../../img/sub1-1/image479.png) no-repeat;
    background-size: cover;
  }
  .sub_text {
    height: clamp(90px, 28.125vw, 150px);
  }
  .sub_text h3 {
    font-size: clamp(8px, 2.5vw, 13px);
    margin-bottom: clamp(5px, 1.563vw, 10px);
  }
  .sub_text h2 {
    font-size: clamp(10px, 3.125vw, 15px);
    margin-bottom: clamp(20px, 6.25vw, 30px);
  }
  .sub_text p {
    font-size: clamp(8px, 2.5vw, 13px);
    line-height: 1.5;
  }
  .tab {
    margin: clamp(22.4px, 7vw, 44.7px) 0;
    gap: clamp(8px, 2.5vw, 16px);
  }
  .tab a {
    width: clamp(35px, 10.938vw, 56px);
    height: clamp(19px, 5.938vw, 32px);
    border-radius: 100px;
    font-size: clamp(8px, 2.5vw, 14px);
    line-height: clamp(19px, 5.938vw, 32px);
  }
  h2 {
    font-size: clamp(14px, 4.375vw, 20px);
  }
  .tab__content-wrapper {
    padding: 0;
  }
  .location {
    margin: clamp(16px, 5vw, 32px) 0 clamp(22.4px, 7vw, 44.7px);
  }
  .location table {
    width: 100%;
    height: auto;
  }
  .location table td button {
    width: 100%;
    height: clamp(23px, 7.188vw, 50px);
    line-height: clamp(16px, 5vw, 30px);
    font-size: clamp(8px, 2.5vw, 14px);
  }
  .rank h2 {
    margin: clamp(28px, 8.75vw, 56px) 0;
  }
  .exhibitions {
    width: 100%;
    gap: clamp(12px, 1vw, 16px);
  }
  .poster {
    width: clamp(165px, calc(18vw - 22.7px), 235px);
    height: auto;
    overflow: hidden;
  }
  .poster img {
    width: 100%;
  }
  .exhibition h4 {
    width: clamp(165px, calc(18vw - 22.7px), 235px);
    font-size: clamp(0.875rem, 16px, 1.125rem);
    margin: 10px 0 12px 4px;
  }
  .exhibition div:not(:first-of-type) {
    width: clamp(160px, calc(17.75vw - 23.5px), 235px);
    font-size: clamp(0.625rem, 10px, 0.75rem);
    font-weight: 400;
    margin-bottom: 8px;
    margin-left: 4px;
  }
  .top_con {
    margin: clamp(32px, 10vw, 64px) 0 clamp(25.6px, 8vw, 51.2px);
  }
  .course {
    width: clamp(70.4px, 22vw, 140px);
    height: clamp(16px, 5vw, 32px);
    font-size: clamp(12px, 3.75vw, 18px);
    padding-left: clamp(6.4px, 2vw, 12.8px);
    color: #333;
  }
  .search_box {
    height: clamp(16px, 5vw, 32px);
    width: clamp(108.8px, 34vw, 220px);
    border-radius: clamp(22.08px, 6.9vw, 44.16px);
    padding: 0 clamp(3.2px, 1vw, 7px) 0 clamp(3.2px, 1vw, 7px);
    box-sizing: border-box;
  }
  .search_text {
    font-size: clamp(7px, 2.188vw, 12px);
    line-height: clamp(16px, 5vw, 32px);
    width: clamp(57.6px, 19vw, 120px);
  }
  .search_btn {
    width: clamp(12.8px, 4vw, 25.6px);
    height: clamp(14.4px, 4.5vw, 25px);
    font-size: clamp(7.4px, 2.313vw, 14.8px);
  }
  .search_btn i {
    font-size: clamp(7.4px, 2.313vw, 14.8px);
    line-height: clamp(14.4px, 4.5vw, 25px);
  }
  .local_list .exhibitions {
    margin-bottom: clamp(30px, 9.375vw, 60px);
  }
  .local_list .exhibition {
    margin-bottom: clamp(20px, 6.25vw, 40px);
  }
  footer {
    height: clamp(160px, 15vw, 190px);
  }
  footer > .content {
    width: 87.5vw;
    height: clamp(160px, 15vw, 190px);
  }
  footer > .content img {
    width: clamp(56px, 5vw, 80px);
    margin-right: clamp(32px, 4vw, 50px);
  }
  .footer_text p {
    font-size: clamp(8px, 0.9vw, 10px);
  }
  .right_icons > ul {
    width: clamp(160px, 15vw, 200px);
    display: flex;
    gap: clamp(8px, 1.2vw, 15px);
  }
  .right_icons > ul > li {
    width: clamp(24px, 2.5vw, 30px);
  }
  .right_icons > ul > li img {
    width: clamp(24px, 2.5vw, 30px);
    height: clamp(24px, 2.5vw, 30px);
    opacity: 0.5;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1600px) {
  .content {
    width: 87.5vw;
    margin: 0 auto;
  }
  header {
    width: 100%;
    height: 5vw;
  }
  .con {
    width: 87.5vw;
    height: 5vw;
  }
  h1 {
    width: 6vw;
    height: 1.5vw;
  }
  h1 img {
    width: 100%;
  }
  #gnb {
    width: 48.83vw;
    height: 5.5vw;
  }
  #gnb > ul {
    gap: 4vw;
  }
  #gnb > ul > li {
    font-size: 1.125rem;
  }
  .submenu > li {
    width: 6vw;
  }
  #gnb::after {
    top: 5vw;
  }
  .xi-search,
  .xi-user-o {
    font-size: 1.5rem;
  }
  .icons {
    gap: 2rem;
  }
  .main_img1,
  .main_img2,
  .main_img3 {
    background-size: cover;
    background-position: center center;
  }
  .title_text {
    width: 45rem;
    height: 30rem;
    top: 180px;
    left: 8rem;
  }
  .title_text h2 {
    font-size: 2.25rem;
    margin-bottom: 2rem;
  }
  .title_text h4 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }
  .title_text2 p {
    font-size: 1.125rem;
    line-height: 2;
    margin-top: 16rem;
  }
  .depth {
    margin-top: 70px;
    height: 10.55vw;
    font-size: clamp(8px, 2.5vw, 13px);
    line-height: 10.55vw;
  }
  .sub_img {
    height: clamp(90px, 28.125vw, 150px);
    background: url(../../img/sub1-1/image479.png) no-repeat;
    background-size: cover;
  }
  .sub_text {
    height: clamp(90px, 28.125vw, 150px);
  }
  .sub_text h3 {
    font-size: clamp(8px, 2.5vw, 13px);
    margin-bottom: clamp(5px, 1.563vw, 10px);
  }
  .sub_text h2 {
    font-size: clamp(10px, 3.125vw, 15px);
    margin-bottom: clamp(20px, 6.25vw, 30px);
  }
  .sub_text p {
    font-size: clamp(8px, 2.5vw, 13px);
    line-height: 1.5;
  }
  .tab {
    margin: clamp(22.4px, 7vw, 44.7px) 0;
    gap: clamp(8px, 2.5vw, 16px);
  }
  .tab a {
    width: clamp(35px, 10.938vw, 56px);
    height: clamp(19px, 5.938vw, 32px);
    border-radius: 100px;
    font-size: clamp(8px, 2.5vw, 14px);
    line-height: clamp(19px, 5.938vw, 32px);
  }
  h2 {
    font-size: clamp(14px, 4.375vw, 18px);
  }
  .tab__content-wrapper {
    padding: 0;
  }
  .location {
    margin: clamp(16px, 5vw, 32px) 0 clamp(22.4px, 7vw, 44.7px);
  }
  .location table {
    width: 100%;
    height: auto;
  }
  .location table td button {
    width: 100%;
    height: clamp(23px, 7.188vw, 60px);
    line-height: clamp(16px, 5vw, 30px);
    font-size: clamp(8px, 2.5vw, 14px);
  }
  .rank h2 {
    margin: clamp(28px, 8.75vw, 56px) 0;
  }
  .exhibitions {
    width: 100%;
    gap: 20px;
  }
  .poster {
    width: clamp(225px, 16vw, 265px);
    height: auto;
    overflow: hidden;
  }
  .poster img {
    width: 100%;
  }
  .exhibition h4 {
    width: clamp(225px, 16vw, 265px);
    font-size: 1.125rem;
    margin: 10px 0 12px 4px;
  }
  .exhibition div:not(:first-of-type) {
    width: clamp(225px, 16vw, 265px);
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 8px;
    margin-left: 4px;
  }
  .top_con {
    margin: clamp(32px, 10vw, 64px) 0 clamp(25.6px, 8vw, 51.2px);
  }
  .course {
    width: clamp(70.4px, 22vw, 140px);
    height: clamp(16px, 5vw, 32px);
    font-size: clamp(12px, 3.75vw, 18px);
    padding-left: clamp(6.4px, 2vw, 12.8px);
    color: #333;
  }
  .search_box {
    height: clamp(16px, 5vw, 32px);
    width: clamp(108.8px, 34vw, 220px);
    border-radius: clamp(22.08px, 6.9vw, 44.16px);
    padding: 0 clamp(3.2px, 1vw, 7px) 0 clamp(3.2px, 1vw, 7px);
    box-sizing: border-box;
  }
  .search_text {
    font-size: clamp(7px, 2.188vw, 12px);
    line-height: clamp(16px, 5vw, 32px);
    width: clamp(57.6px, 19vw, 120px);
  }
  .search_btn {
    width: clamp(12.8px, 4vw, 25.6px);
    height: clamp(14.4px, 4.5vw, 25px);
    font-size: clamp(7.4px, 2.313vw, 14.8px);
  }
  .search_btn i {
    font-size: clamp(7.4px, 2.313vw, 14.8px);
    line-height: clamp(14.4px, 4.5vw, 25px);
  }
  .local_list .exhibitions {
    margin-bottom: clamp(30px, 9.375vw, 60px);
  }
  .local_list .exhibition {
    margin-bottom: clamp(20px, 6.25vw, 40px);
  }
  footer {
    height: clamp(160px, 15vw, 190px);
  }
  footer > .content {
    width: 87.5vw;
    height: clamp(160px, 15vw, 190px);
  }
  footer > .content img {
    width: clamp(56px, 5vw, 80px);
    margin-right: clamp(32px, 4vw, 50px);
  }
  .footer_text p {
    font-size: clamp(8px, 0.9vw, 10px);
  }
  .right_icons > ul {
    width: clamp(160px, 15vw, 200px);
    display: flex;
    gap: clamp(8px, 1.2vw, 15px);
  }
  .right_icons > ul > li {
    width: clamp(24px, 2.5vw, 30px);
  }
  .right_icons > ul > li img {
    width: clamp(24px, 2.5vw, 30px);
    height: clamp(24px, 2.5vw, 30px);
    opacity: 0.5;
  }
}
