@charset "utf-8";

/* 모바일 세로 */
/* 모바일 세로 */
@media screen and (min-width: 320px) and (max-width: 479px) {
  header {
    height: 13.33vw;
  }

  .con {
    height: 13.33vw;
    width: 87.3vw;
  }

  h1 {
    width: 17.3vw;
    height: 4.44vw;
  }

  h1 img {
    width: 100%;
    filter: none;
  }

  #gnb {
    display: none;
  }
  #gnb2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12.5rem; /* 200px */
    width: 100%;
    position: absolute;
    left: 0;
    top: 4.375rem; /* 70px */
    background-color: #fff;
    box-sizing: border-box;
    z-index: 998;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    pointer-events: none;
  }
  #gnb2.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  .hamburger i {
    cursor: pointer;
  }

  #gnb2 > ul {
    background-color: #fff;
    padding: 1.25rem 0 0.625rem 1.875rem; /* 20px 0 10px 30px */
  }

  #gnb2 > ul > li {
    margin-bottom: 1.5625rem; /* 25px */
  }

  #gnb2 > ul > li > a {
    color: #666;
    font-weight: 600;
  }
  #gnb2 a:hover {
    color: #587d00;
  }
  .submenu2 {
    margin-top: 0.625rem; /* 10px */
  }

  .submenu2 li {
    margin-bottom: 0.625rem; /* 10px */
  }

  .submenu2 li a {
    color: #666;
  }
  .icons {
    gap: 2.5vw;
  }

  .xi-search,
  .xi-user-o {
    font-size: 4.5vw;
    color: #333;
  }

  .hamburger {
    display: block;
  }

  .xi-ellipsis-v {
    font-size: 4.5vw;
    color: #333;
  }

  .content {
    width: 87.3vw;
    margin: 0 auto;
  }

  .depth {
    margin-top: 16vw;
    height: 13.5vw;
    font-size: 2.5vw;
    line-height: 13.5vw;
  }

  .sub_img {
    height: 24.5vw;
    background: url(../../img/sub2/image479.png) no-repeat;
    background-size: cover;
  }

  .sub_text {
    height: 24.5vw;
  }

  .sub_text h3 {
    font-size: 2.25vw;
    margin-bottom: 1.25vw;
  }

  .sub_text h2 {
    font-size: 3vw;
    margin-bottom: 4vw;
  }

  .sub_text p {
    font-size: 2vw;
    line-height: 3.25vw;
  }

  .tab {
    margin: 9vw 0;
    gap: 2.5vw;
  }

  .tab a {
    width: 8.5vw;
    height: 5vw;
    border-radius: 25vw;
    font-size: 2vw;
    line-height: 5vw;
  }

  h2 {
    font-size: 2.75vw;
  }

  .rank h2 {
    margin: 9vw 0 4.25vw 0;
  }

  .posters {
    width: 90vw;
    gap: 6vw;
  }

  .box {
    width: 126px;
    height: 104.4px;
  }

  .box img {
    width: 126px;
    height: 104.4px;
  }

  .hide_box {
    display: none;
  }

  .rank .titles {
    width: 90vw;
    gap: 6vw;
    margin-top: 1.25vw;
    padding-bottom: 9vw;
  }

  .detail {
    width: 120px;
    height: 8.95vw;
    margin-left: 6px;
    margin-top: 1.5vw;
  }

  .detail h4 {
    height: 3.5vw;
    font-size: 2vw;
    margin-bottom: 0.5vw;
  }

  .detail div {
    font-size: 1.8vw;
    margin-bottom: 0.75vw;
  }

  .top_con {
    margin: 10vw 0 7.5vw;
  }

  .course {
    width: 22vw;
    height: 5vw;
    font-size: 3vw;
    padding-left: 2vw;
    color: #333;
  }

  .search_box {
    height: 5vw;
    width: 34vw;
    border-radius: 5.5vw;
    padding: 0 1vw;
    box-sizing: border-box;
  }

  .search_text {
    font-size: 1.75vw;
    line-height: 5vw;
    width: 23.47vw;
  }

  .search_btn {
    width: 4.5vw;
    height: 4.5vw;
    font-size: 2.25vw;
  }

  .search_btn i {
    font-size: 2.25vw;
    line-height: 4.5vw;
  }

  .titles {
    width: 90vw;
    gap: 6vw;
    margin-top: 1.25vw;
    margin-bottom: 10vw;
  }

  footer {
    height: 30vw;
  }

  footer > .content {
    width: 87.3vw;
    height: 30vw;
  }

  footer > .content img {
    width: 9.375vw;
    margin-right: 6.25vw;
  }

  .footer_text p {
    font-size: 1.5vw;
    margin-bottom: 0.75vw;
  }

  .footer_text a {
    text-decoration: none;
  }

  .right_icons > ul {
    width: 18.1vw;
    display: flex;
    gap: 1.67vw;
  }

  .right_icons > ul > li {
    width: 3.33vw;
  }

  .right_icons > ul > li img {
    width: 3.13vw;
    height: 3.13vw;
  }
}

/* 태블릿/모바일 가로 (480px ~ 767px) */
@media screen and (min-width: 480px) and (max-width: 767px) {
  header {
    height: 9.1vw;
  }
  .con {
    height: 9.1vw;
    width: 92.2vw;
  }
  h1 {
    width: 11.6vw;
    height: 2.2vw;
  }
  h1 img {
    width: 100%;
    filter: none;
  }
  #gnb {
    display: none;
  }
  #gnb2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12.5rem; /* 200px */
    width: 100%;
    position: absolute;
    left: 0;
    top: 5.375rem; /* 70px */
    background-color: #fff;
    box-sizing: border-box;
    z-index: 998;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    pointer-events: none;
  }
  #gnb2.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  .hamburger i {
    cursor: pointer;
  }

  #gnb2 > ul {
    background-color: #fff;
    padding: 1.25rem 0 0.625rem 1.875rem; /* 20px 0 10px 30px */
  }

  #gnb2 > ul > li {
    margin-bottom: 1.5625rem; /* 25px */
  }

  #gnb2 > ul > li > a {
    color: #666;
    font-weight: 600;
  }
  #gnb2 a:hover {
    color: #587d00;
  }

  .submenu2 {
    margin-top: 0.625rem; /* 10px */
  }

  .submenu2 li {
    margin-bottom: 0.625rem; /* 10px */
  }

  .submenu2 li a {
    color: #666;
  }
  .icons {
    gap: 2.78vw;
  }
  .xi-search,
  .xi-user-o {
    font-size: 3.3vw;
    color: #333;
  }
  .icons .hamburger {
    display: block;
  }
  .xi-ellipsis-v {
    font-size: 3.3vw;
    color: #333;
  }
  .content {
    width: 92.2vw;
    margin: 0 auto;
  }
  .depth {
    margin-top: 9.1vw;
    height: 11.2vw;
    font-size: 1.7vw;
    line-height: 11.2vw;
  }
  .sub_img {
    height: 16.8vw;
    background: url(../../img/sub2/image769.png) no-repeat;
    background-size: cover;
  }
  .sub_text {
    height: 16.8vw;
  }
  .sub_text h3 {
    font-size: 1.3vw;
    margin-bottom: 1vw;
  }
  .sub_text h2 {
    font-size: 1.8vw;
    margin-bottom: 3.1vw;
  }
  .sub_text p {
    font-size: 1vw;
    line-height: 2.3vw;
  }
  .rank h2 {
    font-size: 1.95vw;
    margin: 7.85vw 0 4.9vw 0;
  }
  .posters {
    width: 92.2vw;
    gap: 3.9vw;
  }
  .box {
    width: 215px;
    height: 178.14px;
  }
  .box img {
    width: 215px;
    height: 178.14px;
  }
  .hide_box {
    display: none;
  }
  .rank .titles {
    width: 92.2vw;
    gap: 3.9vw;
    margin-top: 1.8vw;
    padding-bottom: 6.4vw;
  }
  .detail {
    width: 27.7vw;
    height: 9.2vw;
    margin-left: 0.86vw;
    margin-top: 10px;
  }
  .detail h4 {
    font-size: 2.1vw;
    font-weight: 700;
    margin-bottom: 1.5vw;
  }
  .detail div {
    font-size: 1.8vw;
    margin-bottom: 1.3vw;
  }
  .top_con {
    margin: 8.5vw 0 6.5vw;
  }
  .course {
    width: 16.9vw;
    height: 3.26vw;
    font-size: 2.1vw;
    padding-left: 1.3vw;
    color: #333;
  }
  .search_box {
    height: 4.6vw;
    width: 32.5vw;
    border-radius: 3.65vw;
    padding: 0 1.8vw;
    box-sizing: border-box;
  }
  .search_text {
    font-size: 1.56vw;
    line-height: 4.6vw;
    width: 22.4vw;
  }
  .search_btn {
    width: 4.3vw;
    height: 4.3vw;
  }
  .search_btn i {
    font-size: 1.82vw;
    line-height: 4.6vw;
  }
  .titles {
    width: 92.2vw;
    gap: 3.9vw;
    margin-top: 1.8vw;
    margin-bottom: 9.1vw;
  }
  footer {
    height: 15vw; /* 7.5rem */
    margin-top: 50px;
  }

  footer > .content img {
    width: 6vw;
    margin-right: 6.25vw;
  }

  footer > .content {
    width: 87.3vw;
    height: 15vw;
    flex-direction: row;
  }

  .footer_text p {
    font-size: 0.8vw; /* 0.375rem */
    margin-bottom: 0.7vw; /* 0.1875rem */
  }

  .footer_text a {
    text-decoration: none;
  }

  .right_icons > ul {
    width: 18.1vw;
    display: flex;
    gap: 1.67vw;
  }

  .right_icons > ul > li {
    width: 3.33vw;
  }

  .right_icons > ul > li img {
    width: 3.13vw;
    height: 3.13vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .content {
    width: 84.35vw;
    margin: 0 auto;
  }
  header {
    width: 100%;
    height: 6.84vw; /* 70px */
  }
  .con {
    width: 84.35vw;
    height: 6.84vw;
  }
  h1 {
    width: 5.625rem;
    height: 1.11rem;
  }
  h1 img {
    width: 100%;
  }
  #gnb {
    width: 48.83vw;
    height: 4.875rem;
  }
  #gnb > ul {
    gap: 3.5rem;
  }
  #gnb > ul > li {
    font-size: 0.9375rem;
  }
  .submenu > li {
    width: 5.1875rem;
  }
  #gnb::after {
    top: 4.375rem;
  }

  .icons .hamburger {
    display: block;
  }
  .xi-search,
  .xi-user-o {
    font-size: 1.25rem;
  }
  .icons {
    gap: 1.25rem;
  }

  /* 서브배너 */
  .sub_img {
    height: 16.7vw;
    background: url(../../img/sub1-2/image_1023.png) no-repeat;
    background-size: cover;
  }
  .sub_text {
    height: 16.7vw;
  }
  .sub_text h3 {
    font-size: 1.47vw;
    margin-bottom: 1.07vw;
  }
  .sub_text h2 {
    font-size: 1.95vw;
    margin-bottom: 2.93vw;
  }
  .sub_text p {
    font-size: 1.07vw;
    line-height: 1.95vw;
  }

  .rank h2 {
    font-size: 1.95vw;
    margin: 6.84vw 0 4.89vw; /* 70px 0 50px */
  }

  .posters {
    width: 84.35vw;
    gap: 2.15vw;
  }

  .box {
    width: 15.15vw;
  }
  .box img {
    width: 15.35vw; /* 157px */
    height: 12.72vw; /* 130.09px */
  }

  .rank .titles {
    width: 84.35vw;
    gap: 2.15vw;
    margin-top: 1.36vw;
    padding-bottom: 5.47vw;
  }

  .detail {
    width: 14.76vw;
    height: fit-content;
    margin-left: 0.39vw;
    margin-top: 12.7vw; /* 130px */
  }
  .detail h4 {
    height: 1.86vw;
    width: 15.15vw;
    font-size: 1.16vw;
    margin-bottom: 0.3vw;
  }
  .detail div {
    font-size: 0.9vw;
  }

  .top_con {
    margin: 0 0 7.82vw 0;
  }

  .course {
    width: 12.7vw;
    height: 2.34vw;
    font-size: 1.56vw;
    padding-left: 0.78vw;
  }

  .search_box {
    height: 1.95vw;
    width: 27.37vw;
    border-radius: 2.15vw;
    padding: 0.98vw;
    border: 0.1vw solid #587d00;
  }

  .search_text {
    font-size: 1.27vw;
    line-height: 1.95vw;
    width: 19.56vw;
    margin-left: 0.98vw;
  }

  .search_btn {
    width: 3.9vw;
    height: 100%;
    font-size: 0.98vw;
  }

  .titles {
    width: 84.35vw;
    gap: 2.15vw;
    margin-top: 1.36vw;
    margin-bottom: 4.82vw;
  }

  footer {
    height: 11.59vw;
  }

  footer > .content {
    width: 87.5vw;
    height: 11.59vw;
  }

  footer > .content img {
    width: 4.88vw;
    margin-right: 3.05vw;
  }

  .footer_text p {
    font-size: 0.61vw;
  }

  .right_icons > ul {
    width: 12.21vw;
    gap: 0.92vw;
  }

  .right_icons > ul > li {
    width: 1.83vw;
  }

  .right_icons > ul > li img {
    width: 1.83vw;
    height: 1.83vw;
    opacity: 0.5;
  }
}
