/* 320~479px (모바일 소형) */
@media (min-width: 320px) and (max-width: 639px) {
  section {
    width: 100%;
  }
  header {
    background-color: #fff;
    height: 70px;
    z-index: 999;
  }
  .con {
    width: 90%;
    height: 70px;
  }
  h1 {
    width: fit-content;
    height: fit-content;
  }
  h1 img {
    width: 70%;
    filter: none;
  }
  #gnb {
    display: none;
  }
  #gnb2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12.5rem;
    width: 100%;
    position: absolute;
    left: 0;
    top: 70px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 100;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    pointer-events: none;
  }
  #gnb2.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  #gnb2 > ul {
    background-color: #fff;
    padding: 1.25rem 0 0.625rem 1.875rem;
  }
  #gnb2 > ul > li {
    margin-bottom: 1.5625rem;
  }
  #gnb2 > ul > li > a {
    color: #666;
    font-weight: 600;
  }
  #gnb2 a:hover {
    color: #587d00;
  }
  .submenu2 {
    margin-top: 0.625rem; /* 10px */
  }
  .submenu2 li {
    margin-bottom: 0.625rem; /* 10px */
  }
  .submenu2 li a {
    color: #666;
  }
  .icons {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 8px;
  }
  .icons > button i {
    font-size: 20px;
  }
  .xi-search,
  .xi-user-o {
    color: #333;
  }
  .icons .hamburger {
    display: flex;
    justify-content: center;
  }
  main .content {
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
  }
  main {
    margin: 20px 0;
  }
  .left_con,
  .right_con {
    width: 100%;
    margin: 60px auto;
    height: auto;
  }
  .right_con {
    margin: 0px auto;
    margin-top: 0;
  }

  .search_box {
    width: 90%;
    height: 16px;
  }

  .search_text {
    width: 65%;
    line-height: 16px;
    font-size: 14px;
  }
  .card {
    width: 100%;
    height: auto;
    max-height: 600px;
  }

  .exhibition {
    gap: 10px;
  }

  .ex_title {
    width: 80%;
  }
  .ex_img {
    width: 20%;
  }

  .list {
    padding-left: 20px;
  }

  .museum_name {
    padding-left: 20px;
    font-size: 16px;
  }

  .info {
    padding-left: 20px;
  }

  #map {
    height: 400px !important;
  }
  footer {
    width: 100%;
    height: clamp(120px, 53.125vw, 200px);
    background-color: #f8f8f8;
    display: flex;
  }
  footer > .content {
    width: 90%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  footer > .content > div > img {
    display: none;
  }
  .footer_text p {
    font-size: clamp(7px, 2.813vw, 10px);
    color: #666;
    margin-bottom: clamp(4px, 1.875vw, 8px);
  }
  .right_icons {
    margin: 0;
    width: clamp(200px, 82.813vw, 265px);
  }
  .right_icons > ul {
    justify-content: start;
    gap: clamp(10px, 4.375vw, 14px);
    margin-top: clamp(6px, 3.125vw, 10px);
  }
  .right_icons > ul > li {
    width: clamp(18px, 8.125vw, 30px);
  }

  .right_icons > ul > li img {
    width: clamp(18px, 8.125vw, 30px);
    height: clamp(18px, 8.125vw, 30px);
    opacity: 0.5;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  header {
    background-color: #fff;
    height: 70px;
    position: fixed;
    z-index: 999;
  }
  .con {
    width: 90%;
    height: 70px;
    z-index: 999;
  }

  h1 {
    width: fit-content;
    height: fit-content;
  }

  h1 img {
    width: 70%;
    filter: none;
  }

  #gnb {
    display: none;
  }

  #gnb2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: clamp(160px, 19.53vw, 200px);
    width: 100%;
    position: absolute;
    left: 0;
    top: 70px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 100;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    pointer-events: none;
  }

  #gnb2.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    z-index: 100;
  }

  #gnb2 > ul {
    background-color: #fff;
    padding: clamp(16px, 2.5vw, 24px) 0 clamp(10px, 1.56vw, 15px)
      clamp(30px, 5vw, 30px);
  }

  #gnb2 > ul > li {
    margin-bottom: clamp(18px, 2.93vw, 30px);
  }

  #gnb2 > ul > li > a {
    color: #666;
    font-weight: 600;
  }

  #gnb2 a:hover {
    color: #587d00;
  }

  .submenu2 {
    margin-top: clamp(8px, 1.25vw, 10px);
  }

  .submenu2 li {
    margin-bottom: clamp(8px, 1.25vw, 10px);
  }

  .submenu2 li a {
    color: #666;
  }

  .icons {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: clamp(6px, 2vw, 16px);
  }

  .icons > button i {
    font-size: clamp(16px, 30vw, 22px);
  }

  .xi-search,
  .xi-user-o {
    color: #333;
  }

  .icons .hamburger {
    display: flex;
    justify-content: center;
  }

  main .content {
    width: 90%;
    flex-direction: column;
    margin: 0px auto;
  }

  .left_con,
  .right_con {
    width: 100%;
    margin: 80px auto;
    height: auto;
  }
  .right_con {
    margin: 0 auto;
  }
  .search_box {
    width: 97%;
  }

  .search_text {
    width: 70%;
    font-size: 15px;
  }
  .museum_img {
    width: 661.8px;
    height: 150px;
  }
  .museum_img img {
    width: 100%;
  }
  .card {
    width: 100%;
    height: auto;
    max-height: 700px;
    margin-top: 30px;
  }

  .exhibition {
    gap: 260px;
  }

  .ex_title {
    width: 45%;
  }
  .ex_img {
    width: fit-content;
  }
  .museum_name {
    font-size: 17px;
  }

  #map {
    height: 500px !important;
  }
  footer {
    width: 100%;
    height: clamp(120px, 53.125vw, 200px);
    background-color: #f8f8f8;
    display: flex;
  }
  footer > .content {
    width: 90%;
    height: auto;
  }
  footer > .content > div > img {
    display: none;
  }
  .footer_text p {
    font-size: clamp(7px, 2.813vw, 10px);
    color: #666;
    margin-bottom: clamp(4px, 1.875vw, 8px);
  }
  .right_icons {
    width: 170px;
  }
  .right_icons > ul {
    justify-content: start;
    gap: clamp(10px, 4.375vw, 14px);
    margin-top: clamp(6px, 3.125vw, 10px);
  }
  .right_icons > ul > li {
    width: clamp(18px, 8.125vw, 30px);
  }

  .right_icons > ul > li img {
    width: clamp(18px, 8.125vw, 30px);
    height: clamp(18px, 8.125vw, 30px);
    opacity: 0.5;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .content {
    width: 87.5vw;
    margin: 0 auto;
  }
  header {
    width: 100%;
    height: clamp(4rem, 4.375rem, 5vw);
  }
  .con {
    width: 87.5vw;
    height: clamp(4rem, 4.375rem, 5vw);
  }
  h1 {
    width: clamp(5rem, 5.625rem, 6vw);
    height: clamp(1rem, 1.11rem, 1.5vw);
  }
  h1 img {
    width: 100%;
  }
  #gnb {
    width: 48.83vw;
    height: clamp(4.5rem, 4.875rem, 5.5vw);
  }
  #gnb > ul {
    gap: clamp(2rem, 3.5rem, 4vw);
  }
  #gnb > ul > li {
    font-size: clamp(0.875rem, 0.9375rem, 1.125rem);
  }
  .submenu > li {
    width: clamp(4rem, 5.1875rem, 6vw);
  }
  #gnb::after {
    top: clamp(4rem, 4.375rem, 5vw);
  }
  .xi-search,
  .xi-user-o {
    font-size: clamp(1rem, 1.25rem, 1.5rem);
  }
  .icons {
    gap: clamp(1rem, 1.25rem, 2rem);
  }
  main .content {
    justify-content: space-between;
    width: 84.35vw;
    margin: 20px auto;
  }

  .left_con {
    width: 47%;
    height: auto;
    margin: 60px 0 50px 0;
  }

  .right_con {
    width: 50%;
    height: 818px;
    margin: 60px 0 50px 0;
  }

  .search_box {
    width: 94%;
  }

  .search_text {
    width: 75%;
    font-size: 16px;
  }

  .card {
    width: 100%;
    height: auto;
    max-height: 750px;
  }

  .exhibition {
    gap: 140px;
  }

  .ex_title,
  .ex_img {
    width: 48%;
  }

  .museum_name {
    font-size: 18px;
  }

  #map {
    width: 100% !important;
    height: 100% !important;
  }
  footer {
    height: clamp(160px, 15vw, 190px);
  }
  footer > .content {
    width: 87.5vw;
    height: clamp(160px, 15vw, 190px);
  }
  footer > .content img {
    width: clamp(56px, 5vw, 80px);
    margin-right: clamp(32px, 4vw, 50px);
  }
  .footer_text p {
    font-size: clamp(8px, 0.9vw, 10px);
  }
  .right_icons > ul {
    width: clamp(160px, 15vw, 200px);
    display: flex;
    gap: clamp(8px, 1.2vw, 15px);
  }
  .right_icons > ul > li {
    width: clamp(24px, 2.5vw, 30px);
  }
  .right_icons > ul > li img {
    width: clamp(24px, 2.5vw, 30px);
    height: clamp(24px, 2.5vw, 30px);
    opacity: 0.5;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1600px) {
  .content {
    width: 87.5vw;
    margin: 0 auto;
  }
  header {
    width: 100%;
    height: 5vw;
  }
  .con {
    width: 87.5vw;
    height: 5vw;
  }
  h1 {
    width: 6vw;
    height: 1.5vw;
  }
  h1 img {
    width: 100%;
  }
  #gnb {
    width: 48.83vw;
    height: 5.5vw;
  }
  #gnb > ul {
    gap: 4vw;
  }
  #gnb > ul > li {
    font-size: 1.125rem;
  }
  .submenu > li {
    width: 6vw;
  }
  #gnb::after {
    top: 5vw;
  }
  .xi-search,
  .xi-user-o {
    font-size: 1.5rem;
  }
  .icons {
    gap: 2rem;
  }
  main .content {
    justify-content: space-between;
    width: 84.35vw;
    margin: 20px auto;
  }

  .left_con {
    width: 47%;
    height: auto;
    margin: 60px 0 50px 0;
  }

  .right_con {
    width: 50%;
    height: 818px;
    margin: 60px 0 50px 0;
  }

  .search_box {
    width: 94%;
  }

  .search_text {
    width: 75%;
    font-size: 16px;
  }

  .card {
    width: 100%;
    height: auto;
    max-height: 750px;
  }

  .exhibition {
    gap: 140px;
  }

  .ex_title,
  .ex_img {
    width: 48%;
  }

  .museum_name {
    font-size: 18px;
  }

  #map {
    width: 100% !important;
    height: 100% !important;
  }
  footer {
    height: clamp(160px, 15vw, 190px);
  }
  footer > .content {
    width: 87.5vw;
    height: clamp(160px, 15vw, 190px);
  }
  footer > .content img {
    width: clamp(56px, 5vw, 80px);
    margin-right: clamp(32px, 4vw, 50px);
  }
  .footer_text p {
    font-size: clamp(8px, 0.9vw, 10px);
  }
  .right_icons > ul {
    width: clamp(160px, 15vw, 200px);
    display: flex;
    gap: clamp(8px, 1.2vw, 15px);
  }
  .right_icons > ul > li {
    width: clamp(24px, 2.5vw, 30px);
  }
  .right_icons > ul > li img {
    width: clamp(24px, 2.5vw, 30px);
    height: clamp(24px, 2.5vw, 30px);
    opacity: 0.5;
  }
}
